<%- include('../partial/header') %>

<form id="ticket-form" action="/tickets/<%= flightId %>" method="POST">
    <label>Seat: </label>
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price: </label>
    <input type="text" name="price" required>
    <input type="submit" value="Add a Ticket">
</form>

<%- include('../partial/footer') %>